<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>website layout</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	
	<div class="header">
		<ul class="flex-container">
			<li class="items"><a href="" class="set">About</a></li>
			<li class="items"><a href="" class="set">Products</a></li>
			<li class="items"><a href="" class="set">Our Team</a></li>
			<li class="items contacts"><a href="" class="set">Contacts</a></li>
		</ul>
	</div>
	
	<div class="cover">Cover</div>

	<div class="container-lagi">
		<div class="grid-items">
			<div class="grid-child"><strong>nasi goreng</strong></div>
			<div class="grid-child"><strong>mee</strong></div>
			<div class="grid-child"><strong>kuew teow</strong></div>
			<div class="grid-child"><strong>burger</strong></div>
			<div class="grid-child"><strong>spaggeti</strong></div>
			<div class="grid-child"><strong>air</strong></div>
		</div>
	</div>

	<div class="footer">Footer</div>

</body>
</html>